body, html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-container {
  padding: 20px;
  text-align: center;
}

.header {
  font-size: 35px;
  font-weight: bold;
  color: #4d22e7;
  padding-bottom: 50px;
}

.custom-textfield {
  margin-bottom: 10px;
  height: 35px;
  width: 200px;
  margin-right: 20px;
  font-size: 15px;
  border-radius: 4px;
}
.custom-textfield::-webkit-input-placeholder {
  color: #999; 
  font-style: italic;
  font-size: 14px;
}
.custom-textfield::-moz-placeholder {
  color: #999; 
  font-style: italic;
}
.custom-textfield:-ms-input-placeholder {
  color: #999;
  font-style: italic;
}
.custom-textfield::-ms-input-placeholder {
  color: #999;
  font-style: italic;
}
.custom-textfield::placeholder {
  color: #999;
  font-style: italic;
}

.custom-button {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 150px;
  background-color: blue;
  color: #fff;
  font-size: 15px;
}

.definition {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
}

.heading {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  font-size: 25px;
}

.entry {
  margin-top: 5px;
  color: #4d22e7;
  margin-bottom: 15px;
  font-size: 22px;
}

.word {
  font-weight: bold;
  font-size: 30px;
  color: #007acc;
  margin-top: 10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

audio {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  margin-top: 5px; 
}

ul {
  list-style-type: square;
  padding-left: 20px;
  margin-top: 10px;
}

li {
  margin-bottom: 6px;
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .header {
    font-size: 30px;
  }
  .custom-textfield {
    margin-right: 13px;
  }
  .heading {
    font-size: 20px;
  }
  
  .entry {
    font-size: 18px;
  }
  
  .word {
    font-size: 25px;
  }
  audio {
    width: 250px;
  }
  
}
